{%extends 'base.template.html'%}
{% load static %}
{% load cloudinary %}

{%block content %}
<div class = "container-fluid">
<h1>My Shopping Cart</h1>
<div class="card-column row d-flex justify content-around">
{%for key, cart_item in cart.items %}
<div class="card">
    {% cloudinary cart_item.cover class="card-img-top" crop="fill"%}
    <div class="card-title">{{cart_item.title}}</div>
    <div class="card-body">
        <p>
        <form method="POST" action="{% url 'update_cart_quantity_route' book_id=cart_item.id %}">
            {%csrf_token%}
            Quantity:<input name="qty" type="text" value="{{cart_item.qty}}" style="width:20px">
            <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity" />
        </form>
        Price: {{cart_item.price|floatformat:2}}
        </p>
        <p>
        
        </p>
        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' book_id=cart_item.id %}">Remove</a>
    </div>
</div>

{%endfor%}
</div>
</div>

<div class="row">
${{total|floatformat:2}}
<a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
<a href="{% url 'show_book_route' %}" class="btn btn-success">Browse Books</a>
</div>
{%endblock%}