{% extends 'base.template.html'%}
{%load static%}

{%block title%}Book Cycle{%endblock%}

{%block content%}
<div class ="container mt-5">
  <h1>How to trade-in your books?</h1>

  <p>Rather than sell your book one by one, trade-in your books with us and get a fair price. For any queries, contact us at bookcyle.sustainable@gmail.com.
  </p>

  <ol>
      <li>Take photos of your book on the front, bookspint and back</li>
      <li>Send us an email at bookcycle.sustainable@gmail.com</li>
      <li>In the email, provide information as such: book title, pictures of the book and a description to note any wear and tear.</li>
      <li>After receiving the email, we will take 7 working days to reply with an estimated quotation for the books that we will take in</li>
      <li>You can choose to accept or decline. If accept, we will arrange a time for us to pick up the books at your convenience. Pick-up cost will be free for trade-in above $100. Below that, we will inform you beforehand</li>
      <li>Once we have collected the books, we will vet them for quality assurance and if it is certified to meet our standards, we will list them on our platform</li>
      <li>Once the book is being sold, we will transfer you the money via bank transfer.</li>
  </ol>

</div>



  

{%endblock%}