{% extends 'base.template.html'%}
{%load static%}

{%block head_title%}Book Cycle - Buy Pre-Owned Books{%endblock%}

{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col d-sm-none d-md-block"></div>
        <div class="col-md-8 mt-5 col-sm-12">
            <div class="jumbotron text-center"
                style="background-image: url(https://images.unsplash.com/photo-1504036764568-17ae585d4619?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80); background-position: center; color:white;">
                <h1 class="font-weight-bold">BookCycling</h1>
                <h2>Keeping it green, one book at a time.</h2>
                <br>

                <p class="mt-5">Buy pre-owned books at a discount. Or, trade-in yours and get paid upfront. It's that
                    simple.</p>
                <p class="lead mt-2">
                    <a class="btn btn-primary btn-lg" href="{% url 'show_book_route' %}" role="button">Buy Books</a>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'about_us' %}" role="button">Trade-in Books</a>
                </p>
            </div>
        </div>
        <div class="col d-sm-none d-md-block"></div>
    </div>
</div>
<!-- Buy Books Section-->
<div style="background-color: white;">
    <div class="container-fluid">
        <div class="row pt-3 pb-5">
            <div class="col-md-8 offset-md-2" style="padding-top: 2rem;">
                <h2 class="font-weight-bold">Buy Pre-Owned Books in Great Condition</h2>
                <h4>From 30 to 90 percent off retail price</h4>
                <div class="row mt-5">
                    <div class="col-md-12 col-lg-4">
                        <figure class="figure">
                            <img src="https://images.unsplash.com/photo-1586279026128-a5aa814dee39?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                                class="figure-img img-fluid rounded" alt="Image of an opened book">
                        </figure>
                    </div>
                    <div class="col-md-12 col-lg-8 montserrat">
                        <div class="row mx-1 align-items-center rounded justify-content-center text-center"
                            style="height:5rem; font-size: large;">
                            <i class="fas fa-check-circle mr-2" style="color:green; font-size:larger;"></i> Every book is vetted under our stringent quality assurance process.
                        </div>
                        <div class="row mx-1 align-items-center rounded justify-content-center text-center"
                            style="height:5rem; font-size: large;">
                            <i class="fas fa-check-circle mr-2" style="color:green; font-size:larger;">
                            </i> Save money and trees all at the same time 
                        </div>
                        <div class="row mx-1 align-items-center rounded justify-content-center text-center"
                            style="height:5rem; font-size: large;">
                            <i class="fas fa-check-circle mr-2" style="color:green; font-size:larger;"></i> A growing book collection with more bookcyclers joining everyday </div>
                        <div class="row align-items-center justify-content-center" style="height:5rem;"><a
                                class="btn btn-primary" href="{% url 'show_book_route' %}" role="button">Browse
                                Books</a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #e7ffee;">
    <div class="container-fluid">
        <div class="row pt-3 pb-5">
            <div class="col-md-8 offset-md-2" style="padding-top: 2rem;">
                <h2 class="font-weight-bold">Trade-in Your Books</h2>
                <h4>Fuss-free process to get paid for your pre-owned books</h4>
                <div class="row mt-5 montserrat">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-clipboard-list"></i></div>
                            <h4 class="title">List your books</h4>
                            <p class="description">Send us an email with a picture of each book and their title and
                                ISBN. We will vet the books and provide a quote.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-box-open"></i></div>
                            <h4>Arrange for pick-up</h4>
                            <p>After receiving your email, we will reply with a few slots for us to pick-up your books
                                and a final quotation based on photos you sent.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-comment-dollar"></i></div>
                            <h4>Get paid</h4>
                            <p>When your book is sold on our platform, we will contact you and arrange for payment via
                                bank transfer.</p>
                        </div>
                    </div>
                </div>
                <div class="mt-5 d-flex justify-content-center"><a class="btn btn-primary" href="{% url 'about_us' %}"
                        role="button">Trade-in Books</a></div>

            </div>
        </div>

    </div>
</div>
<div style="background-color: #004c4c;">
    <div class="container d-flex justify-content-center mt-2 pb-2 pt-2" style=" color: white;">
        <p> BookCyle | Fictitious Company | Created with <i class="fas fa-grin-hearts"></i> </p>
    </div>
</div>

{% endblock %}