body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#searchbar {
    background-color: beige;
}

.btn-primary {
    background-color: #ee885b;
    color:white;
}

.brand-primary:hover {
    background-color: #ea6461;
}