body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#searchbar {
    background-color: beige;
}

.btn-primary {
    background-color: #ee885b;
    color:white;
    border-width: 0px;
}

.btn-primary:hover {
    background-color: #ea6461;
}

.btn-primary:active {
    border-color: #d3423f;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.icon {
    color:#ea6461;
    font-size:36px;
}

.icon-box {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 15px;
}