{% extends 'base.template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{%block content%}
<div class="container-fluid ml-2 mr-2">
    <h1 class="mt-5">Browse Books</h1>
    <h3>Secondhand books up to 80% off retail prices </h3>
    <div class="row">
        <div class="col-md-2 mt-5 col-sm-12 style=" background-color: beige;">
            <h3> Do a quick search here</h3>
            <form method="GET">
                {{search_form|crispy}}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="col mt-5">

            <div class="card-column row d-flex justify-content-around">
                {%for book in books %}


                <div class="card mt-4" style="width: 18rem;">
                    {% cloudinary book.cover class="card-img-top" style="height:20rem;" crop="fill"%}


                    <div class="card-body">
                        <h5 class="card-title card-title-admin">{{book.title}}</h5>
                        <p class="card-text">
                            {{book.author}}
                            <br>
                        <h5><span style="font-weight: bold;">S${{book.price|floatformat:2}}</span></h5>

                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'add_to_cart' book_id=book.id %}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
                {%endfor%}



            </div>




        </div>
        {%endblock%}