{% extends 'base.template.html' %}
{% load static %}


{%block content%}

<body>
    <h1>Books</h1>
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please <a href="/accounts/login">Login</a></p>
    {%endif%}
    <p>
        Here you can see all the books that we have.
    </p>
    <ul>
        {%for book in books %}
        <li>{{book.title}}<a href="{% url 'update_book_route' book_id=book.id %}">Edit</a>
        </li>
        {%endfor%}
    </ul>
</body>
{%endblock%}